[Unit]
Description=Avahi Manager privileged helper socket
PartOf=avahi-manager.service
Before=avahi-manager.service

[Socket]
# /run/avahi-manager is created by tmpfiles.d as root:@@GROUP@@ 0750.
ListenStream=@@SOCKET_PATH@@
SocketUser=root
SocketGroup=@@GROUP@@
SocketMode=0660
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
